<nav class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active" style="font-weight: bold; font-size: 1.5rem;">
      <img src="assets\imagenes\icons8-saludo-50.png" alt="Logo" style="height: 30px; margin-right: 8px;">
      Bienvenido/a
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="border: none;">
      <span class="navbar-toggler-icon" style="color: white;"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/proyects" routerLinkActive="active" style="color: white; font-size: 1.1rem; margin-right: 20px;">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/resume" routerLinkActive="active" style="color: white; font-size: 1.1rem; margin-right: 20px;">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active" style="color: white; font-size: 1.1rem; margin-right: 20px;">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/logros" routerLinkActive="active" style="color: white; font-size: 1.1rem;">Logros</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
