<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <!-- (Aquí puedes eliminar los iconos SVG si ya no los necesitas) -->
</svg>

<footer class="d-flex flex-column justify-content-center align-items-center py-4 border-top" style="background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1); color: white;">
<div class="text-center">
  <span class="d-block mb-2">© {{ currentYear }} Danny Rodas, Madrid</span>
  <span>Icons by<a href="https://iconos8.es" class="text-decoration-none" style="color: white;">icons8.es</a></span>
</div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
