<!-- project.component.html -->

<div class="container my-5">
    <h2 class="mb-4">Mis Proyectos</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="assets/imagenes/hotelMas.png" class="card-img-top" alt="Proyecto Hotel Mascotas">
          <div class="card-body">
            <h5 class="card-title">Hotel de Mascotas</h5>
            <p class="card-text">Funcionalidades reservas de habitaciones y facturación.</p>
            <a href="https://github.com/cohet3/FrontHotelMascotas" class="btn btn-info">
              <i class="fab fa-angular"></i> Angular código</a><hr>
            <a href="https://github.com/cohet3/hotelMascotas" class="btn btn-info">
              <i class="fab fa-angular"></i>Spring código</a><hr>
            <a href="assets/imagenes/bdHotel2.png" class="btn btn-primary">Diagrama Base de datos PosgreSQL</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/imagenes/gifFoto.png" class="card-img-top" alt="Proyecto 2">
          <div class="card-body">
            <h5 class="card-title">Buscador de GIFS</h5>
            <p class="card-text">Este proyecto esta realizado con Vite y el API Giphy.</p>
            <p class="card-text"><a href="https://api.giphy.com/v1/gifs/search?api_key=WiU973VA3HNP8z6ZbV5UU1carU0cGHFC&q=${category}&limit=10">Visitar API</a></p>
            <a href="https://cohet3.github.io/GifsReactDespligue/" class="btn btn-primary">Ver más</a>
          </div>
        </div>
      </div>
      <!-- Repite esta estructura para más proyectos -->
      <div class="col">
        <div class="card h-100">
          <img src="assets/imagenes/plantillaDinamica.png" class="card-img-top" alt="Proyecto 2">
          <div class="card-body">
            <h5 class="card-title">Plantilla dinámica</h5>
            <p class="card-text">Proporcionamos dinamismo a esta plantilla con Angular. </p>
            <p class="card-text"><a href="https://www.pixeden.com/html5-website-templates/urku-html5-portfolio-website">Visitar plantilla</a></p>

            <a href="https://cohet3.github.io/portafolio/#/home" class="btn btn-primary">Ver más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  