<!-- contact.component.html -->

<div class="container my-5">
    <h2 class="mb-4">Contáctame</h2>
    <div class="row">
      <div class="col-md-6">
        <form>
          <div class="mb-3">
            <label for="name" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="name" placeholder="Nombre completo">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico:</label>
            <input type="email" class="form-control" id="email" placeholder="nombre@example.com">
          </div>
          <div class="mb-3">
            <label for="message" class="form-label">Mensaje:</label>
            <textarea class="form-control" id="message" rows="5" placeholder="Escribe tu mensaje aquí"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
        </form>
      </div>
      <div class="col-md-6">
        <h3>Información de Contacto</h3>
        <p>Si tienes alguna pregunta o te gustaría contactarme, no dudes en enviarme un mensaje. Estaré encantado de responderte lo antes posible.</p>
        <p>También estoy dispuesto a asesorarte en el mundo tecnologico, comentame tu idea,
          pideme un presupuesto, trabajemos juntos por un mundo mejor.</p>
        <ul class="list-unstyled">
          <li><strong>Email:</strong> <a href="mailto:dannydavidrodas&#64;gmail.com"> dannydavidrodas&#64;gmail.com</a></li>
          <li><strong>Teléfono:</strong> (+34) 653130191</li>
          <li><strong>Dirección:</strong> Madrid, España</li>
        </ul>
      </div>
    </div>
  </div>
  