<!-- contact.component.html -->

<div class="container my-5">
    <h2 class="mb-4">Contáctame</h2>
    <div class="row">
      <div class="col-md-6">
        
        <p>Si tienes alguna pregunta o quieres conocerme un poco mejor, no dudes en enviarme un mensaje. Estaré encantado de responderte lo antes posible.</p>
        <p>También estoy dispuesto a asesorarte o inspirarte en el mundo tecnológico, comentame tu idea,
          pideme un presupuesto, trabajemos juntos por un mundo mejor.</p>
        <ul class="list-unstyled">
          <li><strong>Email:</strong> <a href="mailto:dannydavidrodas&#64;gmail.com"> dannydavidrodas&#64;gmail.com</a></li>
          <li><strong>Teléfono:</strong> (+34) 653130191</li>
          <li><strong>Dirección:</strong> Madrid, España</li>
        </ul>
      </div>
    </div>
  </div>
  