<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <!-- Aquí tu contenido del carrusel -->

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-85c8041c-27ab-4be5-ab9c-c1837651dfa9.jpg?v=1675685699000" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-19b89047-baf2-4b9c-adee-e2ec7d1f0d18.jpg?v=1645805792000" class="d-block w-100" alt="...">
    </div>
    <!-- <div class="carousel-item">
      <img src="assets/img3.jpg" class="d-block w-100" alt="...">
    </div> -->
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>