<section id="badges">
  <h2>Mis Insignias</h2>
  <div class="badge-container">
    <div class="badge">
      <img
        src="https://images.credly.com/size/680x680/images/1fb00135-23d3-42e9-a745-c7627e8a84bf/image.png"
        alt="Insignia 2"
      />
      <p><strong>Web Development with Python</strong></p>
      <p>Emitida por: IBM SkillsBuild</p>
      <p>Fecha: Enero 2023</p>
      <a
        href="https://www.credly.com/badges/34814bbd-8966-4ff4-884f-164ffdd98eaa"
        target="_blank"
        >Verificar</a
      >
    </div>
    <!-- <div class="badge">
                <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-85c8041c-27ab-4be5-ab9c-c1837651dfa9.jpg?v=1675685699000" alt="Insignia 2">
                <p><strong>Python sin fronteras</strong></p>
                <p>Emitida por:  udemy</p>
                <p>Fecha: Febrero 2023</p>
                <a href="https://www.udemy.com/certificate/UC-85c8041c-27ab-4be5-ab9c-c1837651dfa9/" target="_blank">Verificar</a>
            </div> -->
    <div class="badge">
      <img
        src="https://media.arcx.io/images/products/CTI101.png"
        alt="Articial Intelligence Fundamentals"
      />
      <p><strong>Cyber Threat Intelligence 101 course</strong></p>
      <p>Emitida por: arcX</p>
      <p>Fecha: Mayo 2024</p>
      <a
        href="https://arcx.io/verify-certificate?id=6610cfdcc314a807928b82bd58c3bf6a7b0a0f04&k=6c479369bf784fa7a7c42c9ea6882e79"
        target="_blank"
        >Verificar</a
      >
    </div>
    <div class="badge">
      <img
        src="https://media.badgr.com/uploads/badges/assertion-SzCHZUouQW-IceL3bwjC4Q.png?versionId=RW1T.wmCR5jsuoMJfBYgZmZ4jLCha0Bq"
        alt="Insignia 2"
      />
      <p><strong>BLUE TEAM</strong></p>
      <p>Emitida por: The Bridge School</p>
      <p>Fecha: Junio 2024</p>
      <a
        href="https://api.badgr.io/public/assertions/SzCHZUouQW-IceL3bwjC4Q?identity__email=dannydavidrodas%40gmail.com"
        target="_blank"
        >Verificar</a
      >
    </div>
    <div class="badge">
      <img
        src="https://images.credly.com/size/220x220/images/82b908e1-fdcd-4785-9d32-97f11ccbcf08/image.png"
        alt="Articial Intelligence Fundamentals"
      />
      <p><strong>Articial Intelligence Fundamentals</strong></p>
      <p>Emitida por: IBM SkillsBuild</p>
      <p>Fecha: Julio 2024</p>
      <a
        href="https://www.credly.com/badges/ec6dcfd0-1edc-4575-a523-62d7d3aa1ff2"
        target="_blank"
        >Verificar</a
      >
    </div>
    <div class="badge">
      <img
        src="https://images.credly.com/images/4f76c627-c180-49ae-a5a0-742885eef581/Working_in_a_Digital_World-_Professional_Skills.png"
        alt="Articial Intelligence Fundamentals"
      />
      <p><strong>Working in a Digital World</strong></p>
      <p>Emitida por: IBM SkillsBuild</p>
      <p>Fecha: Agosto 2024</p>
      <a
        href="https://www.credly.com/badges/8a2a17da-29e4-4a6c-ae5f-4106f685b2fd"
        target="_blank"
        >Verificar</a
      >
    </div>
        <!-- Agrega más insignias según sea necesario -->
    <!-- <div class="badge-container">

    <h2>Mis Insignias udemy</h2>
    <app-certificate></app-certificate>
  </div> -->
</div>
</section>
