<section id="badges">
        <h2>Mis Insignias</h2>
        <div class="badge-container">


            <div class="badge">
                <img src="https://images.credly.com/size/680x680/images/1fb00135-23d3-42e9-a745-c7627e8a84bf/image.png" alt="Insignia 2">
                <p><strong>Web Development with Python</strong></p>
                <p>Emitida por:  IBM SkillsBuild</p>
                <p>Fecha: Enero 2023</p>
                <a href="https://www.credly.com/badges/34814bbd-8966-4ff4-884f-164ffdd98eaa" target="_blank">Verificar</a>
            </div>
            <div class="badge">
                <img src="https://media.badgr.com/uploads/badges/assertion-SzCHZUouQW-IceL3bwjC4Q.png?versionId=RW1T.wmCR5jsuoMJfBYgZmZ4jLCha0Bq" alt="Insignia 2">
                <p><strong>BLUE TEAM</strong></p>
                <p>Emitida por:  The Bridge School</p>
                <p>Fecha: Junio 2024</p>
                <a href="https://badgr.com/public/assertions/SzCHZUouQW-IceL3bwjC4Q" target="_blank">Verificar</a>
            </div>
            <div class="badge">
                <img src="https://images.credly.com/size/220x220/images/82b908e1-fdcd-4785-9d32-97f11ccbcf08/image.png" alt="Articial Intelligence Fundamentals">
                <p><strong>Articial Intelligence Fundamentals</strong></p>
                <p>Emitida por: IBM SkillsBuild</p>
                <p>Fecha: Agosto 2024</p>
                <a href="https://www.credly.com/badges/ec6dcfd0-1edc-4575-a523-62d7d3aa1ff2" target="_blank">Verificar</a>
            </div>
            
            <!-- Agrega más insignias según sea necesario -->
        </div>

    </section>
