<section id="badges">
        <h2>Mis Insignias</h2>
        <div class="badge-container">
            <div class="badge">
                <img src="https://images.credly.com/size/220x220/images/82b908e1-fdcd-4785-9d32-97f11ccbcf08/image.png" alt="Articial Intelligence Fundamentals">
                <p><strong>Articial Intelligence Fundamentals</strong></p>
                <p>Emitida por: IBM SkillsBuild</p>
                <p>Fecha: Enero 2023</p>
                <a href="https://www.credly.com/badges/ec6dcfd0-1edc-4575-a523-62d7d3aa1ff2/public_url" target="_blank">Verificar</a>
            </div>
            <div class="badge">
                <img src="ruta/a/insignia2.png" alt="Insignia 2">
                <p><strong>Insignia 2</strong></p>
                <p>Emitida por:  IBM SkillsBuild</p>
                <p>Fecha: Julio 2024</p>
                <a href="enlace/de/verificacion2" target="_blank">Verificar</a>
            </div>
            <!-- Agrega más insignias según sea necesario -->
        </div>
    </section>
