<!-- resume.component.html -->

<div class="container my-5">
  <h2 class="mb-4">
    Mi Currículum
    <a href="assets/DannyRodasCiberSeguridad.pdf" class="btn btn-light ml-3" download>
        <i class="fas fa-download"></i> Descargar
    </a>
</h2>
    <div class="row">
      <div class="col-md-6">
        <h3>Experiencia Laboral</h3>
        <ul class="list-group mb-4">
          <li class="list-group-item">
            <h5>Desarrollador Web Frontend </h5>
            <p>Bonzzay S.L - Madrid, España <br> Mayo 2023 - Octubre 2023</p>
            <p>Desarrollo en React 
            <br>Metodologías Agile/Scrum 
            <br>Resolución problemas
            <br>Creación de componenetes
            <br>Manejo de Arrays</p>
          </li>
          <!-- Repite esta estructura para más experiencias laborales -->
          <li class="list-group-item">
            <h5>Desarrollador Python </h5>
            <p>Mondigital S.L./Prácticas - Madrid, España <br> Febrero 2023 - Mayo 2023</p>
            <p>Realización y acualización de Scripts en Python(Slavy) para extraer los datos requeridos de páginas web.
              <br>Mantenimiento WEB Python
              <br>SEO
            </p>
          </li>
          <li class="list-group-item">
            <h5>Desarrollador Máximo IBM</h5>
            <p>VIEWNEXT/Prácticas - Madrid, España <br> Octubre 2022 - Enero 2023</p>
            <p>Master Máximo de IBM (Software empresarial de mantenimiento de activos)
              <br>Realización de varios ejercicios que incluían BD, Scripts en Python y Java.
              <br>Adaptación de sofware a las necesidades de empresa/cliente.
            </p>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3>Educación</h3>
        <ul class="list-group mb-4">
          <li class="list-group-item">
            <h5>BootCamp Ciberseguridad BLUETEAM </h5>
            <p>TheBridge - Madrid, España <br> Mayo 2024 - Actualemnte</p>
          </li>
          <li class="list-group-item">
            <h5>Agente del Cambio</h5>
            <p>CoreNetworks - Madrid, España <br> Diciembre 2023 - Marzo 2024</p>
          </li>
          <li class="list-group-item">
            <h5>Programación de Sistemas Informáticos</h5>
            <p>CoreNetworks - Madrid, España <br> Diciembre 2023 - Marzo 2024</p>
          </li>
          <li class="list-group-item">
            <h5>Grado Superior de Desarrollo De Aplicaciones Multiplataforma</h5>
            <p>ITEP - Madrid, España <br> Diciembre 2020 - Marzo 2023</p>
          </li>

        </ul>
        <div class="container mt-5">
          <h3>Habilidades</h3>
          <ul class="list-group">
              <li class="list-group-item">
                  <i class="fab fa-html5"></i> HTML5, CSS, JavaScript
              </li>
              <li class="list-group-item">
                  <i class="fab fa-angular"></i> Angular, 
                  <i class="fab fa-react"></i> React, 
                  <i class="fab fa-vuejs"></i> Vue.js
              </li>
              <li class="list-group-item">
                  <i class="fab fa-bootstrap"></i> Bootstrap, 
                  <i class="fas fa-pencil-ruler"></i> Tailwind CSS
              </li>
              <li class="list-group-item">
                  <i class="fab fa-git-alt"></i> Git, 
                  <i class="fab fa-github"></i> GitHub
              </li>
              <li class="list-group-item">
                  <i class="fab fa-python"></i> Python, Flask, Django, TkInter
              </li>
              <li class="list-group-item">
                  <i class="fab fa-java"></i> Java, Spring, JPA, Hibernate
              </li>
              <li class="list-group-item">
                  <i class="fas fa-database"></i> Bases de datos, SQL, MySQL, NoSQL
              </li>
              <li class="list-group-item">
                  <i class="fas fa-user-secret"></i> KaliLinux, Maltego, Nmap, MetaSploit
              </li>
          </ul>
      </div>
  
      </div>
      <div class="container mt-5">
        <h3 class="mb-4">Habilidades Blandas</h3>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Trabajo en equipo</h5>
                        <p class="card-text">Colaborar eficazmente con otros para lograr objetivos comunes.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Resolución de problemas</h5>
                        <p class="card-text">Identificar y solucionar problemas de manera creativa e innovadora.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Aprendizaje</h5>
                        <p class="card-text">Adaptarse a nuevas situaciones y adquirir nuevos conocimientos.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Liderazgo</h5>
                        <p class="card-text">Motivar e inspirar a otros a alcanzar su máximo potencial.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Organización</h5>
                        <p class="card-text">Gestionar el tiempo y los recursos de manera eficiente.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Creatividad</h5>
                        <p class="card-text">Pensar de manera original y generar nuevas ideas.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Ética</h5>
                        <p class="card-text">Tomar decisiones justas y responsables.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Adaptabilidad</h5>
                        <p class="card-text">Ajustarse a los cambios y desafíos con flexibilidad.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Empatía</h5>
                        <p class="card-text">Comprender y compartir los sentimientos de los demás.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
  