<div class="container my-5">
    <div class="row">
      <div class="col-md-4">
        <img src="assets\imagenes\imagenPerfil.jpeg" class="img-fluid rounded-circle mb-3" alt="Mi foto">
      </div>
      <div class="col-md-8">
        <h2 class="mb-3">Sobre Mí</h2>
        <p>
          ¡Hola! Soy Danny, un apasionado desarrollador, con un año de experincia en el sector.
          Me encanta crear aplicaciones intuitivas, funcionales, seguras, eficientes y siempre estoy buscando 
          oportunidades para aprender nuevas tecnologías, mejorar mis habilidades y mejorar negocios.
          
        </p>
        <p>
          Tengo una sólida formación, un grado superior de desarrollo de aplicaciones multiplataforma,
          también he realizado un curso de desarrollo en el SEPE otro de Agentes del cambio (cultura digital)
          y he trabajado en varios proyectos interesantes a lo largo
          de mi carrera. Cuando no estoy programando, disfruto con finanzas, cocinando, running y videojuegos.
        </p>
        <ul class="list-unstyled">
          <li><strong>Email:</strong> <a href="mailto:dannydavidrodas&#64;gmail.com"> dannydavidrodas&#64;gmail.com</a></li>
          <li><strong>Teléfono:</strong> (+34) 653130191</li>
          <li><strong>Ubicación:</strong> Madrid, España</li>
        </ul>
        <div class="mt-3">
          <a href="https://www.linkedin.com/in/tuperfil" class="btn btn-primary me-2">LinkedIn</a>
          <a href="https://github.com/tuusuario" class="btn btn-dark">GitHub</a>
        </div>
      </div>
    </div>
  </div>